.app-container {
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
	}
	.clearfix {
		p {
			font-size: 14px;
			color: #999
		}
	}
	.elInput {
		margin-right: 20px;
	}
	
	.block {
		.pagination {
			text-align: center;
			margin: 20px 0;
		}
	}
	.elTable {
		span {
			cursor: pointer;
			margin-left: 20px;
		}
	}

	.demo-table-expand {
    font-size: 0;
	}
	
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
	}
	
  .demo-table-expand .el-form-item {
    margin-right: 0;
		margin-bottom: 0;
		display: block;
	}
	
	.el-icon-circle-plus-outline {
		font-size: 20px;
		cursor: pointer;
	}

	.icon {
		margin-left: 20px;
	}

	/* 被关注回复 */
	.elTabs {
		span {
			color: #708090;
			display: inline-block;
			width: 90px;
			text-align: center;
		}
		.textarea {
			height: 300px;
		}
	}
}