h1 {
  text-align: center;
}
.refreshButton {
  margin-left: 20px;
}
.el-table {
  width: 50%;
}
.select {
  margin-top: 20px;
}
.el-select {
  margin-left: 10px;
  margin-right: 10px;
}
.el-table.listTable {
  width: 80%;
  height: 600px;
}
